.root {
    -fx-background-color: #393939;

}

.label {
    -fx-text-fill: #848484;
}

.ErrorLabel {
    -fx-text-fill: #c20000;
    -fx-opacity: 0;
}

.text-field {
    -fx-background-color: #393939;
    -fx-border-color: #848484;
    -fx-border-width: 1;
    -fx-border-radius: 20 20 20 20;
    -fx-text-fill: #848484;
    -fx-prompt-text-fill: #848484;
}

.check-box {
    -fx-text-fill: #848484;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #28a3f4;
}


.PanePlayer {
    -fx-background-color: #80808054;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
}

#Owner {
    -fx-border-radius: 30px;
}

.PlayerLabel {
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}

.button {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-border-width: 1.5;
    -fx-background-color: #393939;
    -fx-border-color: #848484;
    -fx-text-fill: #848484;
    -fx-text-alignment: center;
}


.button:hover {
    -fx-background-color: #848484;
    -fx-text-fill: #393939;
}

.button:pressed {
    -fx-background-color: #949494;
}

.movingButton {
    -fx-border-color: transparent;
    -fx-background-radius: 0px;
}

.arrow-button {
    -fx-background-color: transparent;
    -fx-border-width: 1.5px;
    -fx-padding: 0.25em;
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}

.previousButton {
    -fx-rotate: 180;
}


.nextButton {

}

.arrow-button:hover {
    /* Example make the arrow yellow if buttos was hovered*/
    -fx-background-color: #848484;

}

.arrow-button:pressed {
    /* And red if it was pressed, you can apply different effect
     * like shadow , padding etc inside this rules.
     */
    -fx-background-color: #949494;
}