.root {
    -fx-background-image: url(../images/MarketBackground.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
}



.list-view {
    -fx-background-color: #ffffff10;
}


.list-cell > .label {
    -fx-text-fill: black; /* 5 */
}

.list-cell:odd {
    -fx-background-color: rgba(83, 83, 83, 0.25); /* 1 */
}

.list-cell:even {
    -fx-background-color: rgba(113, 113, 113, 0.25); /* for information */
}

.list-cell:selected {
    -fx-background-color: rgba(147, 147, 198, 0.57);
}

#warehouseListCell {
    -fx-background-color: rgba(147, 147, 198, 0.57);
}

#strongboxListCell {
    -fx-background-color: rgba(198, 147, 147, 0.57);
}

#leaderCardListCell {
    -fx-background-color: rgba(171, 198, 147, 0.57);
}


.button {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-border-width: 1.5;
    -fx-background-color: transparent;
    -fx-border-color: #393939;
    -fx-text-fill: #393939;
    -fx-text-alignment: center;
}

.button:hover {
    -fx-background-color: #ba8a54;
}

.button:pressed {
    -fx-background-color: #dba76d;
}


.arrow-button {
    -fx-border-color: #ba8a54;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
    -fx-shape: "M0 300L350 0L350 150L700 150V450L350 450V600L0 300Z";

}

arrow-button-left {
    -fx-border-color: #ba8a54;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
    -fx-shape: "M0 300L350 0L350 150L700 150V450L350 450V600L0 300Z";
}

.arrow-button-right {
    -fx-border-color: #ba8a54;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
    -fx-shape: "M0 300L350 0L350 150L700 150V450L350 450V600L0 300Z";
    -fx-rotate: 180;
}

.arrow-button:hover {
    -fx-background-color: #ba8a54;
}

.arrow-button:pressed {
    -fx-background-color: #dba76d;
    -fx-border-color: #dba76d;
}


.selectable {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
}

.hoverBorder {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
}
