.root {
    -fx-background-image: url(../images/MarketBackground.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.list-view {
    -fx-background-color: #ffffff50;
}


.button {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-border-width: 3;
    -fx-background-color: transparent;
    -fx-border-color: #393939;
    -fx-text-fill: #393939;
    -fx-text-alignment: center;
}

#nextButton
{
    -fx-border-width: 1.5;
}

.button:hover {
    -fx-background-color: #ba8a54;
}

.button:pressed {
    -fx-background-color: #dba76d;
}


.arrow-button {
    -fx-border-color: #ba8a54;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
    -fx-shape: "M0 300L350 0L350 150L700 150V450L350 450V600L0 300Z";

}

arrow-button-left {
    -fx-border-color: #ba8a54;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
    -fx-shape: "M0 300L350 0L350 150L700 150V450L350 450V600L0 300Z";
}

.arrow-button-right {
    -fx-border-color: #ba8a54;
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
    -fx-shape: "M0 300L350 0L350 150L700 150V450L350 450V600L0 300Z";
    -fx-rotate: 180;
}

.arrow-button:hover {
    -fx-background-color: #ba8a54;
}

.arrow-button:pressed {
    -fx-background-color: #dba76d;
    -fx-border-color: #dba76d;
}

.selectable {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
}

.hoverBorder {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
}


.Card {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 15, 0, 00, 0);
}

.CardSelectableRegion {
    -fx-border-color: rgba(0, 176, 255, 0.85);
    -fx-border-width: 7px;
    -fx-border-radius: 10px;
    -fx-opacity: 0;
}

.CardSelectableRegion:hover {
    -fx-opacity: 1;
}

.check-box .box {
    -fx-background-color: rgba(0, 176, 255, 0);
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.check-box:selected .box {
    -fx-background-color: rgba(0, 176, 255, 1);
    -fx-border-color: black;
}

.check-box:selected .mark {
    -fx-background-color: white;
}